<div class="container">
  <div class="row">
    <div class="d-flex align-items-center">
      <form class="w-100" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Seach">
      </form>
    </div>
  </div>

  <div class="row mt-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <input type="checkbox" value="" id="task1" class="form-check-input me-1">
        <label for="task1" class="form-check-label">Task 1</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" value="" id="task2" class="form-check-input me-1">
        <label for="task2" class="form-check-label">Task 2</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" value="" id="task3" class="form-check-input me-1">
        <label for="task3" class="form-check-label">Task 3</label>
      </li>
    </ul>
  </div>
<div>